// css navigator (Menu)
.nav {
    display: block;
    position: fixed;
    width: 67vw;
    z-index: 10;
    top: 0;
    right: 0;
    background: $primary-cl;
    @include transform(translateX(100vw));
    @include radiuscorner(0, 0, 0, 10px);
    @include transition($t $cubic);

    &.active {
        @include transform(translateX(0));
        @include transition($t $cubic);
    }
    ul {
        @include mid(true);
        flex-direction: column;
        width: 100%;
        padding: 40px 20px 20px 20px;
        li {
            width: 100%;
        }
        a {
            display: inline-block;
            padding: 1.7rem 0;
            width: 100%;
            color: $white-cl;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 2px;
            text-align: center;
        }
    }
}

.bgopacity {
    display: block;
    position: fixed;
    @include size(100vw, 100vh);
    z-index: 5;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.261);
    @include visible(0);
    @include transition($t);
    &.active {
        @include visible(1);
        @include transition($t);
    }
}
